html {
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: white;
    z-index: 5;
}

.nav-img {
    height: 50px;
}

.nav-link {
    padding: 0;
}

.content {
    padding: 70px 0px 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.system-message {
    font-size: 2rem;
}

/* component */
.page-title{
    font-size: 2.5rem;
}

@media (max-width: 575px){
    .page-title{
        font-size: 2.2rem;
    }
}

/* top page */
/* Profile page リスト表示のみ*/
.top {
    margin-bottom: 80px;
}

.top-display {
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .top-display-back {
        padding: 20px 0;
        background-color: white;
        border: 1px solid;
        border-color: white;
        border-radius: 10px;
    }
}

.top-icon {
    padding: 20px 0;
}

.top-icon-img {
    text-align: right;
}

.fa-comments {
    color: #b6d0eb;
    font-size: 230px;
}

.top-icon-text {
    display: flex;
    align-items: center;
}

.top-icon-text-font {
    text-align: left;
    font-size: 1rem;
}

@media (max-width: 767px){
    .top-icon-img {
        text-align: center;
    }
    
    .top-icon-text {
        padding: 20px 0;
        display: block;
    }
    
    .top-icon-text-font {
        text-align: center;
    }
}

.list {
    margin-bottom: 100px;
}

.list-boards{
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 575px){
    .list-boards{
        width: 100%;
    }
}

.list-board-margin{
    position: relative;
    padding: 0;
    min-height: 180px;
}

@media (max-width: 767px){
    .list-board-margin{
        min-height: 150px;
    }
}

.list-board-color, .list-board-color-hover{
    border: 1px solid;
    border-color: #d4d4d4;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.list-board-color-hover:hover{
    opacity: 0.8;
    background-color: #e9ecef;
    transition: background-color 0.4s ease-in-out 0s;
}

.list-board-link {
    font-size: 1.3rem;
    color: rgb(92, 92, 92);
}

/* ボード全体をリンクにする場合 */
.list-board-link-over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-board-body-top{
    border-bottom: 1px solid;
    border-color: #aaaaaa;
}

.list-board-title{

}

@media (max-width: 575px){
    .list-board-title{
        font-size: 1.1rem;
    }
}

.list-board-day,.list-board-user{
    display: inline-block;
    margin-bottom: 1px;
}

.list-board-user{
    color: steelblue;
}

/* user profile page */
.profile-name{
    font-size: 3rem;
}

@media (max-width: 991px){
    .profile-name{
        font-size: 2rem;
    }
}

.profile-link{
    display: block;
}

.profile-card{
    padding-left: 30px;
    padding-right: 30px;
}

.user_profile{
    text-align: center;
}

/* chat page */
.read-position{
    position: absolute;
    height: calc(100vh - 120px);
    width: 100%;
}

.read-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    height: calc(100% - 100px);
}