html {
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.content {
    padding: 70px 0px 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* top page */
.recently-boards{
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 575px){
    .recently-boards{
        width: 100%;
    }
}

.recently-board-margin{
    position: relative;
    padding: 0.2em 0.2em;
    height: 250px;
}

@media (max-width: 767px){
    .recently-board-margin{
        padding: 0.2em 0;
        height: 180px;
    }
}

.recently-board-border{
    border: 2px solid;
    border-radius: 5px;
    border-color: #aaaaaa;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.recently-board-border:hover{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out 0s;
}

.recently-board-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recently-board-body-top{
    border-bottom: 1px solid;
    border-color: #aaaaaa;
}

.recently-board-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.recently-board-day{
    margin-bottom: 1px;
}

/* user profile page */
.profile-name{
    font-size: 3rem;
}

@media (max-width: 991px){
    .profile-name{
        font-size: 2rem;
    }
}

.profile-link{
    display: block;
}

.profile-card{
    padding-left: 30px;
    padding-right: 30px;
}

.user_profile{
    text-align: center;
}

/* chat page */
.read-position{
    position: absolute;
    height: calc(100vh - 120px);
    width: 100%;
}

.read-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    height: calc(100% - 100px);
}